services:
  db:
    image: postgres:15-alpine
    container_name: mugathman_erp_db
    env_file:
      - ./postgres/.env
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data

volumes:
  data:
